div {
   text-align: center;
   margin: 200px;
   background-color: grey;
   border-top: 40px solid green;
   border-right: 30px dotted red;
   border-bottom: 60px groove blue;
   border-left: 28px dashed rebeccapurple;
}
