p {
   font-size: 200%;
}

p:nth-child(1) {
   color: red;
}

p:nth-child(2) {
   color: blue;

   /* The following is equivalent to the previous
      margin settings that have been commented out. */
   margin: 40px 60px 80px 100px;
}
